---
import type { GetStaticPaths } from "astro";

import { SuperImg, Fdate, Divider } from "$lib/components";
import { ReadingTime, Render } from "$lib/components/md";
import { Layout } from "$lib/layouts";
import { getCollection } from "astro:content";
import { Header } from "$lib/layouts/content";

export const getStaticPaths = (async () => {
  const entries = await getCollection("blog");

  return entries.map(entry => ({
    params: {
      slug: entry.slug
    },
    props: { entry }
  }));
}) satisfies GetStaticPaths;

const {
  render,
  data: {
    title, desc, img, pubon
  },
  body
} = Astro.props.entry;
---

<Layout {title} {desc} img={img?.src} class="p-0"
  background="bg-white" foreground="text-black"
>
  <section id="hero">
    <Header hasDate {title} {desc}>
      { img &&
        <figure id="hero--image">
          <SuperImg src={img} alt={`blog ${title}`}
            class="rounded-md" width={1080} aspect="2/1"
          />
        </figure>
      }
      <Fdate slot="date" date={pubon} />
      <ReadingTime slot="reading-time" content={body} />
    </Header>
    <!-- redundant: using Header.svelte -->
    <!-- <div class="max-w-5xl mx-auto px-1">
      { img &&
        <figure id="hero--image">
          <SuperImg src={img} alt={`blog ${title}`}
            class="rounded-md" width={1080} aspect="2/1"
          />
        </figure>
      }
      <div id="hero--content"
        class="text-center text-balance py-1 z-[1] md:w-4/5 md:mx-auto">
        <h1 class="font-bold leading-tight text-2xl md:text-4xl">{title}</h1>
        <p class="py-1 text-lg leading-snug">{desc}</p>
        <div class="flex justify-between gap-0.25 md:justify-center">
          <Fdate date={pubon} />
          <span class="hidden md:inline text-muted-dark/80">&bull;</span>
          <ReadingTime content={body} />
        </div>
      </div>
    </div> -->
  </section>
  <Divider class="w-4/5 my-1 mx-auto" />
  <section class="p-1">
    <Render {render} />
  </section>
  <section class="bg-[var(--color,#abcdef)]">
    <div class="max-w-[75ch] mx-auto p-1">
      <p class="text-lg font-bold">More like this</p>
      <p class="text-center mix-blend-difference text-[#fff]">Work in progress</p>
    </div>
  </section>
</Layout>

<style>
  #hero {
    will-change: transform;
    transform: translate3d(0, -100%, 0);
    animation: slide-down 800ms ease-out forwards;
  }
  #hero--image {
    will-change: transform;
    transform: translate3d(0, -100%, 0);
    animation: slide-down 450ms ease-in forwards;
    animation-delay: 500ms;
  }

  @keyframes slide-down {
    from { transform: translate3d(0, -100%, 0); }
    to { transform: translate3d(0, 0%, 0); }
  }
</style>

<script>
  import Vibrant from "node-vibrant";

  const img = document.querySelector("figure > img") as HTMLImageElement | undefined;

  async function extractColors(img: HTMLImageElement) {
    if (typeof img == "undefined") return;
    
    const { WebWorker, MMCQ } = Vibrant.Quantizer;
    const quantizer = WebWorker || MMCQ;

    try {
      const palette = await Vibrant.from(img.src)
        .useQuantizer(quantizer).getPalette(); 
      
      const [hue] = palette.LightVibrant?.getHsl() ?? [245, 245, 245];
      
      document.documentElement.style.setProperty("--color",
        `hsl(${Math.floor(hue*360)} 95 85)`
      );
      document.querySelector("body")?.animate(
        [{ height: "80vh" }], {
          delay: 480, duration: 800,
          easing: "ease-in", fill: "forwards",
          pseudoElement: "::before"
        }
      )
    } catch (error) {
      console.error("Error:", error);
    }
    
    img.removeEventListener("load", ()=> extractColors(img));
  }

  if (img) {
    if (img.complete) extractColors(img);
    else img.addEventListener("load", ()=> extractColors(img));
  }
</script>
