---
import { Fdate, SuperImg } from "$lib/components";
import {getCollection} from "astro:content";

type Props = {
  loading?: "lazy"|"eager";
};

const { loading } = Astro.props;

const unsorted_blogs = await getCollection("blog", ({data}) => !data.draft);
const blogs = unsorted_blogs?.sort((fst, snd) => snd.data.pubon.valueOf() - fst.data.pubon.valueOf());
---

<ul class="auto flex flex-col flex-wrap md:flex-row items-stretch justify-stretch gap-y-2 gap-x-4">
  { blogs.map((d,i) =>
    <li class="list shrink-0 md:max-w-xs lg:max-w-md">
      <a href={`/blog/${d.slug}`} data-astro-prefetch>
        <article class="grid grid-cols-[2rem_1fr_2rem] grid-rows-[1fr_2rem_auto]">
          { d.data.img &&
            <figure class="[grid-column:2/4] [grid-row:1/3]">
              <SuperImg
                src={d.data.img} loading={loading || i <= 3 ? "eager" : "lazy"}
                alt={`Thumbnail of the post ${d.data.title}`}
                width={480}
              />
            </figure>
          }
          <div class:list={[
              "[grid-column:1/3] [grid-row:2/4] pr-1 lg:pb-2 space-y-0.25 bg-black text-white",
              {"pt-2": d.data.img}
            ]}>
            <p class="text-lg font-bold leading-snug">
              <span class="mark">{d.data.title}</span>
            </p>
            <Fdate date={d.data.pubon} class="text-sm text-muted-light" />
            <p>{d.data.desc}</p>
          </div>
        </article>
      </a>
    </li>
  )}
</ul>

<style>
  @media (max-width: 765px) {
    .list + .list::before {
      content: "";
      display: block;
      width: 90%;
      height: 1px;
      margin-inline: auto;
      margin-bottom: 2rem;
      background-color: theme(colors.muted.dark);
    }
  }
</style>