---
import { Fdate, SuperImg } from "$lib/components";
import { cn, getBlogPosts } from "$lib/utils";

type Props = {
  loading?: "lazy" | "eager";
  class?: string;
  skip?: string;
  count?: number;
  category?: string;
};

const { loading, class: cls, skip, count = 6, category } = Astro.props;

const blogs = await getBlogPosts({skip, count, category})
---

<ul id="blogs" class={cn(cls)}>
  {
    blogs.map((d, i) => (
      <li class="relative" data-blog-link>
        <a
          href={`/blog/${d.slug}`}
          class="block overflow-hidden"
          data-astro-prefetch
        >
          {d.data.img && (
            <figure class="overflow-hidden">
              <SuperImg
                src={d.data.img}
                loading={loading || i <= 3 ? "eager" : "lazy"}
                alt={`Thumbnail of the post ${d.data.title}`}
                width={540}
              />
            </figure>
          )}
          <div class="p-sm border-muted-light border" class:list={[{'border-t-0': d.data.img}]}>
            <p class="font-semibold text-lg leading-snug">{d.data.title}</p>
            <Fdate
              date={d.data.pubon}
              class="block my-2 text-sm text-muted-dark"
            />
            <p>{d.data.desc}</p>
          <sdiv>
        </a>
      </li>
    ))
  }
</ul>

<script>
  import gsap from "gsap";

  gsap.timeline({scrollTrigger: {
    trigger: '#blogs',
    scrub: true,
    start: 'top bottom',
    end: 'bottom bottom',
  }})
  .from('[data-blog-link]', {
    y: 700,
    stagger: 0.2,
    ease: 'power2.out'
  })
</script>

<style>
  a[href] {
    text-decoration: none;
  }
  #blogs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(320px, 100%), 1fr));
    gap: theme(spacing.xs);
  }
</style>
