---
export const prerender = false;

import {Layout} from "$lib/layouts";
import { supabase } from "$lib/server/supabase";

if (Astro.request.method == "POST") {
  const formData = await Astro.request.formData();
  const email = String(formData.get("email"));
  const password = String(formData.get("password"));

  try {
    const { data, error } = await supabase.auth.signInWithPassword(
      { email, password }
    );

    if (error && String(error.status).startsWith("4")
    ) return Astro.redirect("/@/auth?r=" + error.message, 400);
  
    const session = data.session;
  
    if (!session
    ) return Astro.redirect("/@/auth?r=Could not find your session", 400);

    Astro.cookies.set("access-token", session.access_token, {
      maxAge: session.expires_in, path: "/"
    });
    Astro.cookies.set("refresh-token", session.refresh_token, {
      maxAge: session.expires_in, path: "/"
    });
    return Astro.redirect("/@");
  }
  catch (error) {
    return Astro.redirect("/@/auth?r=" + String(error));
  }
}

let toast = {
  access: "",
  msg: ""
};

const reason = new URLSearchParams(Astro.request.url.split("?")[1]).get("r");

if (reason) {
  toast.access = "denied"
  toast.msg = reason
}

const inputClass = "block w-full border-muted-dark rounded-md focus:border-muted-light focus:ring-transparent bg-muted-dark/25 text-white placeholder:text-muted-light disabled:placeholder:text-muted-dark disabled:bg-muted-dark disabled:text-muted-light";
const btnClass = "w-full bg-fuchsia-700 text-fuchsia-200 p-0.25 block rounded-md font-bold label focus:border focus:border-muted-light disabled:bg-muted-dark disabled:text-muted-light";
---

<Layout class="md:grid md:grid-cols-8 space-y-2">
  <hgroup class="md:[grid-column:2/8] space-y-0.25">
    <h1 class="font-bold text-xl lg:text-3xl leading-tight"
    >The admin page is prohibited from any visitor except the author</h1>
    <h2 class="text-muted-light">A password authentication is given to prevent accessing the page.</h2>
  </hgroup>

  {toast.msg &&
    <div class="md:[grid-column:2/8] p-0.25 bg-red-800 text-red-200 rounded-md">
      <p class="font-bold text-sm label mb-0.125">Access {toast.access}</p>
      <p>{toast.msg}</p>
    </div>
  }

  <form method="post" class="space-y-1 md:[grid-column:2/8]">
    <div class="flex gap-1">
      <input type="email" name="email" placeholder="Email" value="rishav.m.19.02@gmail.com"
        class={inputClass} autocomplete="off" required
      />
      <input type="password" name="password" placeholder="Enter the super secured password"
        class:list={[inputClass, "md:[grid-column:]"]} autocomplete="off" required
      />
    </div>
    
    <button class={btnClass}>Log in</button>
  </form>
</Layout>