---
import { AUTHOR } from "$lib/consts";
import Header from "./Header.astro";

const today = new Date();

const socialLinks = {
	github: { name: "GitHub", href: "https://github.com/rishavxyz" },
	codewars: { name: "Codewars", href: "https://www.codewars.com/users/rishavxyz" }
};

const myEmailAddr = "email@rishavmandal.xyz";
---

<footer class="p-4 md:px-0 bg-black text-white md:grid md:grid-cols-12">
		<header class="md:flex md:flex-row-reverse md:justify-between md:gap-s md:[grid-column:2/12]">
			<div class="space-y-sm">
				<section>
					<p class="leading-tight text-xl">Feel free to drop a message</p>
					<p class="mt-2 leading-relaxed"><a href={"mailto:"+myEmailAddr} class="underline">{myEmailAddr}</a>
						or <button class="inline underline !font-normal" onclick="copyemail()">copy email to clipboard</button>.
					</p>
				</section>
				<section class="[&_a]:underline [&_a]:text-yellow-400">
					<p>Find me on <a href={socialLinks.github.href}>{socialLinks.github.name}</a>.</p>
					<p>I practice Haskell on <a href={socialLinks.codewars.href}>{socialLinks.codewars.name}</a>.</p>
				</section>
			</div>
			<Header class="mt-sm block text-center space-y-1.5" />
		</header>
		<section class="text-center md:mt-4 space-y-sm md:[grid-column:2/12]">
			<p><a href="#top" class="underline">Back to top</a></p>
			<p class="text-sm text-muted-light">&copy;
				{today.getFullYear()} { AUTHOR }. All rights reserved.</p
			>
		</section>
</footer>

<style>
	footer > div > div > div> section:nth-child(2) a {
		text-decoration: underline;
		color: theme(colors.emerald.500);
	}
</style>

<script is:inline>
	const myEmailAddr = "email@rishavmandal.xyz";

	function copyemail() {
		navigator.clipboard.writeText(myEmailAddr);
		const btn = document.querySelector("button[onclick]");
		btn.innerHTML = "copied to clipboard";
		setTimeout(() => {
			btn.innerHTML = "copy email to clipboard"
		}, 4000);
	}
</script>